@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Inter:wght@300;400;500;600;700;800;900&family=Lato:wght@100;300;400&family=League+Spartan:wght@500;700&family=Manrope:wght@200;300;400;500;800&family=Outfit:wght@400;700&display=swap');

@tailwind base;

@layer base {
  html {
    scroll-behavior: smooth;
    font-size: 62.5%;
  }

  html,
  body,
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
  }

  html {
    scroll-behaviour: smooth;
  }

  body {
    min-height: 100vh;
    width: 100%;
    font-weight: normal;
  }
  p{
    font-size: 1.4rem
  }
  .bg{
    background: url('../public/assets/images/bg.svg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover; 
  }
  .one{
    background: url('../public/assets/images/rec2.svg'), #1C6C59;
    position: absolute;
    right:0;
    top:120px;
  }
  .img{
    
    top: 50px;
    border: 2px solid red
  }
    .two {
      background: url('../public/assets/images/rec3.svg'), #1C6C59;
      position: absolute;
      right: 0;
      top:340px;
    }
  
    .img {
  
      top: 50px;
      border: 2px solid red
    }

    .portfolioShow h3 + div {
      flex-basis: 70%;
      padding-top: 10px;
      /* padding-bottom: 10px */
    }
    .portfolioShow h3 {
      flex-basis: 30%;
    }
    .portfolioShow p {
      opacity: 1;
      transition-duration: 2500ms
    }
    .portfolioShow span {
      display: none
    }
    .arrow-up {
      /* width: 100px;
      height: 40px;
      background: black; */
      /* border-left: 50px solid transparent;
      border-right: 50px solid transparent;
  
      border-bottom: 20px solid black; */
    }
  
    .arrow-down {
      /* width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
  
      border-top: 20px solid #f00; */
    }
  
    /* .arrow-right {
      width: 0;
      height: 0;
      border-top: 60px solid transparent;
      border-bottom: 60px solid transparent;
  
      border-left: 60px solid green;
    }
  
    .arrow-left {
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
  
      border-right: 10px solid blue;
    } */
}

@tailwind components;
@tailwind utilities;